.card {
    display:flex;
    margin-bottom: $md-margin
}

.card .info{
    flex-grow:0;
    flex-shrink:0;
    margin-left: .6rem;
    flex: 1;
}

.card img {
    height: 20rem;
    border: 1px solid $bg-img
}

.card a{
    color: black;
    font-size: $lg-size;
    transition: 0.3s all;
}


.card a:hover{
    color: $primary;
}

.star-ratings {
    float: left;
}
.info__title__rating {
    flex: 1
}
.info div {
    float: left;
}

.info span {
    color: $black
}

.readMoreText {
    color: $primary-off
}

.start__tags {
    position: relative;
}

.color {
    width: 100%;
    
}
.color .button {
    display: inline-block;
    width: $m-size;
    height: $m-size;
    cursor: pointer;
    border: 1px solid $bg-img;

}

.color .button:focus {
   outline: 0;
}

.color label {
    width: 100%;
    float: left;
}

.size {
    width: 100%;
    
}
.size .button {
    display: inline-block;
    width: $m-size;
    height: $m-size;
    cursor: pointer;
    border: 1px solid $bg-img;
    background: $white;
    margin-right: $m-margin
}
.size .button.selected {
    border-color: $primary;
}
.size .button:focus {
   outline: 0;
}
.size label {
    width: 100%;
    float: left;
}

.color label {
    width: 100%;
    float: left;
}
.purchase {
    width: 100%;
    float: left;
}