.cart-item,
.cart-item-counter {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}

.cart-item {
  margin: 10px 0px;
}

.cart-item:first-child {
  margin-top: 0;
}
.cart-item:last-child {
  margin-bottom: 0;
}
.cart-item-counter input {
  border: 1px solid darken($white, 10%);
  width: 40px;
  padding: 3px;
  margin-right: 5px;
}
.cart-item-counter input:focus {
  outline: 0;
  border: 1px solid #006270;
}
.cart-item-counter {
  margin: 0px 5px;
}
.cart-item-close {
  cursor: pointer;
  transition: 0.2s all;
}

.cart-item-close:hover {
  cursor: pointer;
  color: $danger;
}
