.counter div {
    padding: 0.7rem 0.4rem;
    margin-top: $md-size - 0.35rem;
    font-size: $md-size;
}
.counter {
    margin-left: $md-margin
}
.price span {
    display: none;
}
.purchase a.button {
    float: left;
    
}
.counter .decrement, .increment {
    color: $white;
    cursor: pointer;
}
.counter .decrement {
    background: lighten($black, 10%);
}
.counter .increment {
    background: $black;
}
@media (min-width: 640px) {
    .price span {
        display: inline-block;
    }
}
@media (min-width: 1024px) {
    .counter div {
        padding: 0.7rem 1rem;
        margin-top: $md-size - 0.35rem;
        font-size: $md-size;
    }
}

@media (min-width: 1200px) {
    .counter.desktop {
        display: inline-block
    }
}