.header {
    height: $lg-size;
    background: $primary;
}

.header__title {
    color: $white;
    font-size: $m-size;
    text-align: center;
    padding: 0;
}

.header__title a {
    text-decoration: none;
    color: $white;
    transition: .2s all;

}

.header__social__list {
    display: none; 
}
.header__social__list li {
    padding: 5px;
}

@media (min-width: 720px) {
    .header__social__list {
        display: inline;
    }
}