.header {
    height: $lg-size;
    background: $primary;
    border-bottom: 2px solid darken($primary, 10%);
}

.header__title {
    color: $black;
    font-size: $m-size;
    text-align: center;
    padding: 0;
}

.header__title a {
    text-decoration: none;
    color: $black;
    transition: .2s all;

}
.header__language {
    padding: 0px;
}
.header__social__list {
    display: none;
}
.header__social__list li {
    padding: 3px;
    text-align: center;
}

.header__cart {
    color: $black;
    line-height: 2.1rem;;
    position: relative;
}
.header__cart[data-count]:after{
    position: absolute;
    right: -30%;
    top: none;
    content: attr(data-count);
    font-size: 0.5rem;
    padding: .6em;
    border-radius: 50%;
    line-height: .75em;
    color: white;
    background: $danger;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}

@media (min-width: 720px) {
    .header__social__list {
        display: inline;
    }
}