.tags {
    position: absolute;
    left: 10rem;
    top: 0.6rem;
}
.tags .tag  {
    border: 1px solid $primary;
    margin-right: 5px;
    padding: $m-margin 0.8rem;
    border-radius: $m-size;
    color: $white;
    background: $primary;
}

.tags .tag.selected  {
    border: 1px solid $primary-off;
    color: $white;
    background: $primary-off;
}

label.tags {
    margin-bottom: 3px;
    display: inline-block;
}